
#mainPane{
    -fx-background-image: url("MainBckGrd.png");
    -fx-background-position: 50%;
} 

.Button{
    -fx-border: 0;
}

                                                            /*Загрузка файлов*/

#btnMainFile{                    /*Кнопочка загрузка файлов в обычном состоянии*/
    -fx-background-color: transparent;
    -fx-background-image: url("btnMain_File.png");
    -fx-background-size: 100%;
    -fx-box-shadow: 8 8 #232626; 
}

#btnMainFile:hover{ 
    -fx-background-color: transparent;
    -fx-background-image: url("btnMain_File_hover.png");
     -fx-background-size: 100%;
    -fx-box-shadow: 8 8 #232626;
}

#MenuFile{            /*Фон меню Зашрузка файлов*/
    -fx-background-color: transparent;
    -fx-background-image: url("MenuFileBGR.png");
     -fx-background-size: 100%;
    -fx-box-shadow: 8 8 #232626;
}

#FieldFileName{            /*Поле ввода Имени файла */
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 3px;
    -fx-box-shadow: 5 5 #232626;
}

#BtnOpen{ /*Кнопка Открыть*/
    -fx-background-color: transparent;
     -fx-background-image: url("BtnOpen.png");
    -fx-background-size: 100%;
    -fx-box-shadow: 5 5 #232626;
}

#ShapeChc{        /*Пункт в списке возможных шаблонов*/
    -fx-background-color: #9E9E9E;
}

#ShapeChc:hover{        /*Пункт в списке возможных шаблонов*/
    -fx-background-color: #8C8C8C;
}

                                    /*Окошко Время*/
#Time{
    -fx-background-color: #9E9E9E;
    -fx-border-radius: 8px;
    -fx-box-shadow: 5 5 #232626;
}

#TimeH #TimeM{ /*Поле часы и минуты*/
    -fx-background-color: #FFFFFF;
     -fx-border-radius: 3px 0 0 3px;
     -fx-box-shadow: 5 5 #232626;
}

#TimeDropDawn{ /*Стрелочка которая вниз выпадает*/
    -fx-background-color: transparent;
     -fx-background-image: url("BtnDropDawn.png");
     -fx-background-size: 100%;
}

