
#mainPane{
    -fx-background-image: url("/Images/MainBckGrd.png");
    -fx-background-position: 50%;
} 

.Button{
    -fx-border: 0;
}

                                                            /*Загрузка файлов*/

#btnMain{                    /*Кнопочка загрузка файлов в обычном состоянии*/
    -fx-background-color: transparent;
    -fx-background-image: url("/Images/btnMain_File.png");
    -fx-background-size: 100%;
    -fx-box-shadow: 8 8 #232626; 
}

#btnMain:hover{
    -fx-background-color: transparent;
    -fx-background-image: url("/Images/btnMain_File_hover.png");
     -fx-background-size: 100%;
    -fx-box-shadow: 8 8 #232626;
}

#vboxMain{            /*Фон меню Зашрузка файлов*/
    -fx-background-color: transparent;
    -fx-background-image: url("/Images/MenuFileBGR.png");
     -fx-background-size: 100%;
    -fx-box-shadow: 8 8 #232626;
}


#tfNameFileCss{            /*Поле ввода Имени файла */
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 3px;
    -fx-box-shadow: 5 5 #232626;
}

#btnLoadCss{ /*Кнопка Открыть*/
    -fx-background-color: transparent;
     -fx-background-image: url("/Images/BtnOpen.png");
    -fx-background-size: 100%;
    -fx-box-shadow: 5 5 #232626;
}

#btnOKCss{ /*Кнопка Открыть*/
    -fx-background-color: transparent;
    -fx-background-image: url("/Images/Ок.png");
    -fx-background-size: 100%;
    -fx-box-shadow: 5 5 #232626;
}

#ShapeChc{        /*Пункт в списке возможных шаблонов*/
    -fx-background-color: #9E9E9E;
}

#ShapeChc:hover{        /*Пункт в списке возможных шаблонов*/
    -fx-background-color: #8C8C8C;
}

                                    /*Окошко Время*/
/*#Time{
    -fx-background-color: #9E9E9E;
    -fx-border-radius: 8px;
    -fx-box-shadow: 5 5 #232626;
}

#TimeH #TimeM{ /*Поле часы и минуты*/
    /*-fx-background-color: #FFFFFF;
     -fx-border-radius: 3px 0 0 3px;
     -fx-box-shadow: 5 5 #232626;
}

#TimeDropDawn{ /*Стрелочка которая вниз выпадает*/
    /*-fx-background-color: transparent;
     -fx-background-image: url("BtnDropDawn.png");
     -fx-background-size: 100%;
}

